
.section1{
    width: auto;
    height: auto;
    background-color:  rgb(209, 214, 214);
    margin: auto;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.fa-user-secret{
    font-size: 50px;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav-menu li{
    font-size: 18px;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 10px;
}

.btn-contact{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 125px;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    border: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255);
}
.btn-contact:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.nav-menu{
    justify-content: space-between;
}

.intro{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text h3{
    font-weight: bolder;
    font-size: 30px;
}

.intro-text h1{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro-text p{
    font-family:Arial, Helvetica, sans-serif
}


i{
    font-size: 30px;
}

.social-media a{
    color: black;
    justify-content: space-between;
    margin: 15px;

}



.section2{
    width:auto;
    height: auto;
    background-color:  rgb(209, 214, 214);
}
.black-block{
    width:auto;
    height:150px;
    background-color: rgba(5, 5, 5, 0.832);
    color: white;
    padding-left:5cap;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-me{
    text-align: center;
}
.para{
    padding-left:50px;
    padding-right: 50px;
    margin-left:200px;
    margin-right:200px;
}


.white-block{
    /* display: flex; */
    justify-content: space-between;
    padding: 50px;
    height: fit-content;
}

.development{
    text-decoration: solid;
    text-align: left;
    margin-top:none;
    margin-left: 40px;
    margin-right:40px;
    
}
.dev{
    font-size: 30px;
}
.dev-para{
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}

.design{
    text-decoration: solid;
    text-align: left;
    margin-top:none;
    margin-left: 40px;
    margin-right:40px;
}

.des{
     font-size: 30px;

}
.des-para{
     font-family: sans-serif;
    font-size: 15px;
    text-align: justify;

}

.text-block1{
    display: flex;
    align-items: center;
}


.text-block2{
    display: flex;
    align-items: center;
}

.maintanance{
       text-decoration: solid;
    text-align: left;
    margin-top:none;
    margin-left: 40px;
    margin-right:40px;
}
.main{
      font-size: 30px;
}
.main-para{
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}

.support{
     text-decoration: solid;
    text-align: left;
    margin-top:none;
    margin-left: 40px;
    margin-right:40px; 
}
.supp{
    font-size: 30px;
}

.supp-para{
     font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}



.skill{
    text-decoration: solid;
    text-align: left;
    margin-top:none;
    margin-left: 40px;
    margin-right:40px;
    align-items: center; 
}
.skill h2{
    text-align: center;
    font-size: 30px;
}

.skill i{
    
    justify-content: space-between;
    margin: 40px;
    margin-left: 100px;
    font-size: 80px;
}

.footer{
    background-color: rgba(0, 0, 0, 0.837);
    color:white;
    text-align: center;
    width:auto;
    height:200px;
}
.foot{
    padding:170px;
}

