
.section1{
    width: auto;
    height: auto;
    background-color:  rgb(209, 214, 214);
    margin: auto;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.fa-user-secret{
    font-size: 50px;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav-menu li{
    font-size: 18px;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 10px;
}

.btn-contact{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 125px;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    border: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255);
}
.btn-contact:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.nav-menu{
    justify-content: space-between;
}

.intro{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text h3{
    font-weight: bolder;
    font-size: 30px;
}

.intro-text h1{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro-text p{
    font-family:Arial, Helvetica, sans-serif
}


i{
    font-size: 30px;
}

.social-media a{
    color: black;
    justify-content: space-between;
    margin: 15px;

}



.section2{
    width:auto;
    height: auto;
    background-color:  rgb(209, 214, 214);
}
.black-block{
    width:auto;
    height:150px;
    background-color: rgba(5, 5, 5, 0.832);
    color: white;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.white-block{
    padding: 50px;
}

.white-block.about-me{
    border: 5px solid black;
}









